/* General CSS Configurations */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
  }
    

#navbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    background-color: black; 
    padding: 20px;
    margin-right: 5%;
    margin-left: 5%
  }

#navbar a{
 background-color: black;
 text-decoration: none;
 text-transform: uppercase;
 color: grey;
 }

#staysafe{
    justify-content: center;
    margin-bottom: 30px;
    font-size: 40px;
    background-color: white;
    text-align: center;
  }

#content{
    background-color: white;
    padding: 5%;
    margin-right: 5%;
    margin-left: 5%
  }

h2 {
   color: black;
   font-size: 2.0rem;
  }

h1 {
   color: black;
   text-align: center;
  }
/* General CSS Configurations */




/* Home Page and More News CSS Configurations */
.date {
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
 }
.author{
    color:black;
    text-transform: uppercase;
    font-size: 0.5rem; 
  }

.post {
    margin-bottom: 20px;
    font-size: 16px;
    text-align: justify;
 }
    
hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
 }

       /* Home Page CSS Configurations */

 /* Contact Page CSS Configurations */
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical ;
  }
  input[type=email], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical ;
  }
  
  input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: black;
  }
    .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
   /* Contact Page CSS Configurations */


/* About Page CSS Configurations */
 .colu {
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 5px;
  }
  
  .cont {
    padding: 0 16px;
  }
  
  .cont::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
 
  
  @media screen and (max-width: 50px) {
    .colu {
      width: 100%;
      display: block; 
  }

  html {
        box-sizing: border-box;
  }

h3{
  text-align: center;
  
 }
    
      /* About Page CSS Configurations */



